In [1]:
import pandas as pd
import numpy as np

LOAD THE DATA

In [2]:
data_preprocessed= pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets= np.where(data_preprocessed['Absenteeism Time in Hours']>3,1,0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Excessive Absenteeism']= targets

In [8]:
data_preprocessed.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

CHECK if the dataset is balanced

In [9]:
targets.sum()/targets.shape[0] #just fine to proceed

0.45571428571428574

In [10]:
data_with_targets= data_preprocessed.drop(['Absenteeism Time in Hours','Day of the Week', 'Daily Work Load Average', 'Distance to Work'], axis=1)

In [11]:
data_with_targets

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

# SELECT INPUTS FOR THE REGRESSION

In [12]:
data_with_targets.iloc[:,0:14]

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [13]:
data_with_targets.iloc[:,:-1]

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [14]:
unscaled_inputs= data_with_targets.iloc[:,:-1]

# Standardize the Data

In [15]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns= columns
        self.mean_= None
        self.var_= None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_= np.mean(X[self.columns])
        self.var_= np.var(X[self.columns])
        return self
    
    def transform (self, X, y=None,copy= None):
        init_col_order= X.columns
        X_scaled= pd.DataFrame(self.scaler.transform(X[self.columns]),columns=self.columns)
        X_not_scaled= X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]
        
        
        
# absenteeism_scaler= StandardScaler()

In [16]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [17]:
# columns_to_scale= [ 'Month Value',
#        'Day of the Week', 'Transportation Expense', 'Distance to Work',
#        'Age', 'Daily Work Load Average', 'Body Mass Index', 
#        'Children', 'Pets']

columns_to_omit= ['Reason_1', 'Reason_2','Reason_3', 'Reason_4', 'Education']

In [18]:
columns_to_scale=[x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [19]:
absenteeism_scaler= CustomScaler(columns_to_scale)

In [20]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4',
                      'Month Value', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Children', 'Pets'])

In [21]:
scaled_inputs= absenteeism_scaler.transform(unscaled_inputs)

In [22]:
scaled_inputs

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,-0.577350,-0.092981,-0.314485,0.821365,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,-0.577350,-0.092981,-0.314485,-1.217485,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,-0.577350,-0.092981,-0.314485,0.821365,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1.732051,-0.092981,-0.314485,-1.217485,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,-0.577350,-0.092981,-0.314485,0.821365,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,-0.577350,-0.092981,-0.314485,0.821365,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,-0.577350,-0.092981,-0.314485,0.821365,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [23]:
scaled_inputs.shape

(700, 11)

# Splitting data into Train and Test Date

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
train_test_split(scaled_inputs, targets)

[     Reason 1  Reason 2  Reason 3  Reason 4  Month Value  \
 160  1.732051 -0.092981 -0.314485 -1.217485    -0.959313
 409 -0.577350 -0.092981 -0.314485  0.821365    -0.959313
 614 -0.577350 -0.092981 -0.314485  0.821365    -1.244823
 586 -0.577350 -0.092981 -0.314485  0.821365    -1.244823
 108 -0.577350 -0.092981 -0.314485  0.821365     1.610276
 ..        ...       ...       ...       ...          ...
 46  -0.577350 -0.092981 -0.314485  0.821365     0.753746
 526  1.732051 -0.092981 -0.314485 -1.217485     1.039256
 367 -0.577350 -0.092981 -0.314485  0.821365    -1.530333
 579 -0.577350 -0.092981  3.179797 -1.217485    -1.530333
 615 -0.577350 -0.092981 -0.314485  0.821365    -1.244823

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 160                0.568211 -0.065439        -0.878984          0  2.679969
 409                1.005844 -0.536062         0.767431          0  0.880469
 614                0.040034 -1.320435        -0.643782          0 -0.019280
 586                0.040034 -1.320435        -0.643782          0 -0.019280
 108                0.040034 -1.320435        -0.643782          0 -0.019280
 ..                      ...       ...              ...        ...       ...
 46                -0.654143  0.248310         1.002633          0 -0.919030
 526                0.040034 -1.320435        -0.643782          0 -0.019280
 367               -0.654143  0.248310         1.002633          0 -0.919030
 579               -1.016322 -0.379188        -0.408580          0  0.880469
 615               -0.654143  0.248310         1.002633          0 -0.919030

          Pets
 160 -0.589690
 409  0.268487
 614  1.126663
 586  1.126663
 108  1.126663
 ..        ...
 46  -0.589690
 526  1.126663
 367 -0.589690
 579 -0.589690
 615 -0.589690

 [525 rows x 11 columns],
      Reason 1  Reason 2  Reason 3  Reason 4  Month Value  \
 682 -0.577350 -0.092981  3.179797 -1.217485    -0.388293
 598 -0.577350 -0.092981 -0.314485  0.821365    -1.244823
 340 -0.577350 -0.092981 -0.314485  0.821365     1.610276
 678 -0.577350 -0.092981 -0.314485  0.821365    -0.388293
 74  -0.577350 -0.092981  3.179797 -1.217485     1.039256
 ..        ...       ...       ...       ...          ...
 653 -0.577350 -0.092981 -0.314485  0.821365    -0.959313
 655  1.732051 -0.092981 -0.314485 -1.217485    -0.673803
 295  1.732051 -0.092981 -0.314485 -1.217485     1.039256
 327  1.732051 -0.092981 -0.314485 -1.217485     1.324766
 373 -0.577350 -0.092981 -0.314485  0.821365    -1.244823

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 682                1.171843  1.032682        -0.408580          0  0.880469
 598               -0.654143  0.248310         1.002633          0 -0.919030
 340               -0.654143  0.248310         1.002633          0 -0.919030
 678                0.190942  1.032682         2.649049          0 -0.019280
 74                 0.568211 -0.065439        -0.878984          0  2.679969
 ..                      ...       ...              ...        ...       ...
 653                2.213108 -0.849811        -0.408580          0  1.780219
 655               -1.574681  0.091435         0.297027          0 -0.919030
 295               -0.654143 -1.006686        -1.819793          1 -0.919030
 327               -1.574681  0.091435         0.297027          0 -0.919030
 373                0.568211 -0.065439        -0.878984          0  2.679969

          Pets
 682  0.268487
 598 -0.589690
 340 -0.589690
 678 -0.589690
 74  -0.589690
 ..        ...
 653 -0.589690
 655 -0.589690
 295 -0.589690
 327 -0.589690
 373 -0.589690

 [175 rows x 11 columns],
 array([1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
        1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
        1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1,
        1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
        1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0,
        1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
        0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
        0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1,
        1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]),
 array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0])]

In [26]:
# four variables for four array from split

In [27]:
x_train, x_test, y_train, y_test= train_test_split(scaled_inputs,targets, train_size=0.8, random_state=20)

In [28]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [29]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

# Logistic regression with sklearn
# Training the Model

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [31]:
reg= LogisticRegression()

In [32]:
reg.fit(x_train,y_train)

LogisticRegression()

In [33]:
reg.score(x_train,y_train)

0.7875

#our model is able to classify 80% of the observation correctly

# Manually check the accuracy

In [34]:
model_outputs= reg.predict(x_train)

In [35]:
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0])

In [36]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [37]:
model_outputs==y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True, False,  True, False,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True])

In [38]:
np.sum(model_outputs==y_train)

441

In [39]:
model_outputs.shape[0]

560

In [40]:
np.sum(model_outputs==y_train)/model_outputs.shape[0]

0.7875

# Finding the Intercept and coefficient

In [41]:
reg.intercept_

array([-0.17163628])

In [42]:
reg.coef_

array([[ 2.06866621,  0.33461133,  1.56034928,  1.31301781,  0.18521305,
         0.69049022, -0.19796143,  0.32782753, -0.31318895,  0.37213564,
        -0.32435396]])

In [43]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [44]:
feature_name= unscaled_inputs.columns.values

In [45]:
summary_table= pd.DataFrame(columns=['Feature name'], data= feature_name)
summary_table['Coefficient']= np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0                 Reason 1     2.068666
1                 Reason 2     0.334611
2                 Reason 3     1.560349
3                 Reason 4     1.313018
4              Month Value     0.185213
5   Transportation Expense     0.690490
6                      Age    -0.197961
7          Body Mass Index     0.327828
8                Education    -0.313189
9                 Children     0.372136
10                    Pets    -0.324354

In [46]:
 summary_table.index= summary_table.index+1

In [47]:
summary_table.loc[0]=['Intercept',reg.intercept_[0]]
summary_table=summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.171636
1                 Reason 1     2.068666
2                 Reason 2     0.334611
3                 Reason 3     1.560349
4                 Reason 4     1.313018
5              Month Value     0.185213
6   Transportation Expense     0.690490
7                      Age    -0.197961
8          Body Mass Index     0.327828
9                Education    -0.313189
10                Children     0.372136
11                    Pets    -0.324354

# Intepretation of Coefficients

In [48]:
#for a unit change in the standardized feature, the odds increase by a multiple equal to the odds ratio (1=no change)
summary_table['Odds_ratio']= np.exp(summary_table.Coefficient)
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -0.171636    0.842285
1                 Reason 1     2.068666    7.914260
2                 Reason 2     0.334611    1.397397
3                 Reason 3     1.560349    4.760484
4                 Reason 4     1.313018    3.717375
5              Month Value     0.185213    1.203475
6   Transportation Expense     0.690490    1.994693
7                      Age    -0.197961    0.820401
8          Body Mass Index     0.327828    1.387950
9                Education    -0.313189    0.731112
10                Children     0.372136    1.450830
11                    Pets    -0.324354    0.722994

In [49]:
summary_table.sort_values('Odds_ratio', ascending=False)
# may Drop 6,8,10 cuz the coefficient is almost 0 and odd ratio is almost one showing there is no change and will be useless for the model

              Feature name  Coefficient  Odds_ratio
1                 Reason 1     2.068666    7.914260
3                 Reason 3     1.560349    4.760484
4                 Reason 4     1.313018    3.717375
6   Transportation Expense     0.690490    1.994693
10                Children     0.372136    1.450830
2                 Reason 2     0.334611    1.397397
8          Body Mass Index     0.327828    1.387950
5              Month Value     0.185213    1.203475
0                Intercept    -0.171636    0.842285
7                      Age    -0.197961    0.820401
9                Education    -0.313189    0.731112
11                    Pets    -0.324354    0.722994

# Testing the Model

In [50]:
reg.score(x_test, y_test)

0.7357142857142858

In [51]:
predicted_proba= reg.predict_proba(x_test)
predicted_proba

array([[0.70823956, 0.29176044],
       [0.57293437, 0.42706563],
       [0.39748224, 0.60251776],
       [0.78749486, 0.21250514],
       [0.06719693, 0.93280307],
       [0.31207365, 0.68792635],
       [0.28664053, 0.71335947],
       [0.08120082, 0.91879918],
       [0.80017608, 0.19982392],
       [0.74995457, 0.25004543],
       [0.46819712, 0.53180288],
       [0.18512014, 0.81487986],
       [0.04121567, 0.95878433],
       [0.75142701, 0.24857299],
       [0.23903853, 0.76096147],
       [0.53714554, 0.46285446],
       [0.53420084, 0.46579916],
       [0.52102189, 0.47897811],
       [0.40678406, 0.59321594],
       [0.02773414, 0.97226586],
       [0.70236673, 0.29763327],
       [0.78749486, 0.21250514],
       [0.40670612, 0.59329388],
       [0.40670612, 0.59329388],
       [0.17559234, 0.82440766],
       [0.75454373, 0.24545627],
       [0.48937739, 0.51062261],
       [0.87896092, 0.12103908],
       [0.13142638, 0.86857362],
       [0.78749486, 0.21250514],
       [0.62371674, 0.37628326],
       [0.30604005, 0.69395995],
       [0.28983143, 0.71016857],
       [0.44197663, 0.55802337],
       [0.78749486, 0.21250514],
       [0.43710772, 0.56289228],
       [0.7915865 , 0.2084135 ],
       [0.19142669, 0.80857331],
       [0.58640237, 0.41359763],
       [0.37046248, 0.62953752],
       [0.79620966, 0.20379034],
       [0.5757462 , 0.4242538 ],
       [0.77360055, 0.22639945],
       [0.89537063, 0.10462937],
       [0.14257989, 0.85742011],
       [0.3476286 , 0.6523714 ],
       [0.29492042, 0.70507958],
       [0.70823956, 0.29176044],
       [0.78947421, 0.21052579],
       [0.80465572, 0.19534428],
       [0.43134965, 0.56865035],
       [0.92098034, 0.07901966],
       [0.31207365, 0.68792635],
       [0.7319381 , 0.2680619 ],
       [0.1410617 , 0.8589383 ],
       [0.54688018, 0.45311982],
       [0.07008676, 0.92991324],
       [0.78272341, 0.21727659],
       [0.91426351, 0.08573649],
       [0.91002663, 0.08997337],
       [0.29106187, 0.70893813],
       [0.32353741, 0.67646259],
       [0.71329619, 0.28670381],
       [0.14052928, 0.85947072],
       [0.81045624, 0.18954376],
       [0.72960307, 0.27039693],
       [0.98608086, 0.01391914],
       [0.7915865 , 0.2084135 ],
       [0.18946414, 0.81053586],
       [0.70986261, 0.29013739],
       [0.7915865 , 0.2084135 ],
       [0.93187086, 0.06812914],
       [0.07114846, 0.92885154],
       [0.52116529, 0.47883471],
       [0.36119308, 0.63880692],
       [0.78749486, 0.21250514],
       [0.15061764, 0.84938236],
       [0.25980625, 0.74019375],
       [0.23118796, 0.76881204],
       [0.32137999, 0.67862001],
       [0.76420523, 0.23579477],
       [0.98844337, 0.01155663],
       [0.78272341, 0.21727659],
       [0.22413333, 0.77586667],
       [0.55546832, 0.44453168],
       [0.89972273, 0.10027727],
       [0.26855561, 0.73144439],
       [0.40670612, 0.59329388],
       [0.94872911, 0.05127089],
       [0.30604005, 0.69395995],
       [0.85350548, 0.14649452],
       [0.86158228, 0.13841772],
       [0.77851105, 0.22148895],
       [0.72960307, 0.27039693],
       [0.74995457, 0.25004543],
       [0.12660572, 0.87339428],
       [0.69719353, 0.30280647],
       [0.21506739, 0.78493261],
       [0.7618989 , 0.2381011 ],
       [0.80924054, 0.19075946],
       [0.33716583, 0.66283417],
       [0.30604005, 0.69395995],
       [0.28146331, 0.71853669],
       [0.23964383, 0.76035617],
       [0.53434382, 0.46565618],
       [0.49473806, 0.50526194],
       [0.71904501, 0.28095499],
       [0.12660572, 0.87339428],
       [0.20396752, 0.79603248],
       [0.86776895, 0.13223105],
       [0.98959111, 0.01040889],
       [0.07502937, 0.92497063],
       [0.25235941, 0.74764059],
       [0.66015715, 0.33984285],
       [0.45015896, 0.54984104],
       [0.42098952, 0.57901048],
       [0.14703505, 0.85296495],
       [0.15468214, 0.84531786],
       [0.45763486, 0.54236514],
       [0.69119531, 0.30880469],
       [0.73990788, 0.26009212],
       [0.86104378, 0.13895622],
       [0.14849723, 0.85150277],
       [0.5757462 , 0.4242538 ],
       [0.78749486, 0.21250514],
       [0.65256113, 0.34743887],
       [0.79620966, 0.20379034],
       [0.90478293, 0.09521707],
       [0.2290852 , 0.7709148 ],
       [0.70236673, 0.29763327],
       [0.3582165 , 0.6417835 ],
       [0.79620966, 0.20379034],
       [0.69719353, 0.30280647],
       [0.65256113, 0.34743887],
       [0.74461357, 0.25538643],
       [0.45015896, 0.54984104],
       [0.52102189, 0.47897811],
       [0.69885191, 0.30114809],
       [0.7618989 , 0.2381011 ],
       [0.52116529, 0.47883471]])

In [52]:
predicted_proba.shape

(140, 2)

In [53]:
predicted_proba[:,1]

array([0.29176044, 0.42706563, 0.60251776, 0.21250514, 0.93280307,
       0.68792635, 0.71335947, 0.91879918, 0.19982392, 0.25004543,
       0.53180288, 0.81487986, 0.95878433, 0.24857299, 0.76096147,
       0.46285446, 0.46579916, 0.47897811, 0.59321594, 0.97226586,
       0.29763327, 0.21250514, 0.59329388, 0.59329388, 0.82440766,
       0.24545627, 0.51062261, 0.12103908, 0.86857362, 0.21250514,
       0.37628326, 0.69395995, 0.71016857, 0.55802337, 0.21250514,
       0.56289228, 0.2084135 , 0.80857331, 0.41359763, 0.62953752,
       0.20379034, 0.4242538 , 0.22639945, 0.10462937, 0.85742011,
       0.6523714 , 0.70507958, 0.29176044, 0.21052579, 0.19534428,
       0.56865035, 0.07901966, 0.68792635, 0.2680619 , 0.8589383 ,
       0.45311982, 0.92991324, 0.21727659, 0.08573649, 0.08997337,
       0.70893813, 0.67646259, 0.28670381, 0.85947072, 0.18954376,
       0.27039693, 0.01391914, 0.2084135 , 0.81053586, 0.29013739,
       0.2084135 , 0.06812914, 0.92885154, 0.47883471, 0.63880692,
       0.21250514, 0.84938236, 0.74019375, 0.76881204, 0.67862001,
       0.23579477, 0.01155663, 0.21727659, 0.77586667, 0.44453168,
       0.10027727, 0.73144439, 0.59329388, 0.05127089, 0.69395995,
       0.14649452, 0.13841772, 0.22148895, 0.27039693, 0.25004543,
       0.87339428, 0.30280647, 0.78493261, 0.2381011 , 0.19075946,
       0.66283417, 0.69395995, 0.71853669, 0.76035617, 0.46565618,
       0.50526194, 0.28095499, 0.87339428, 0.79603248, 0.13223105,
       0.01040889, 0.92497063, 0.74764059, 0.33984285, 0.54984104,
       0.57901048, 0.85296495, 0.84531786, 0.54236514, 0.30880469,
       0.26009212, 0.13895622, 0.85150277, 0.4242538 , 0.21250514,
       0.34743887, 0.20379034, 0.09521707, 0.7709148 , 0.29763327,
       0.6417835 , 0.20379034, 0.30280647, 0.34743887, 0.25538643,
       0.54984104, 0.47897811, 0.30114809, 0.2381011 , 0.47883471])

# Save the model

In [54]:
 import pickle

In [55]:
with open('model', 'wb') as file:
    pickle.dump(reg,file)

In [56]:
with open('scalar','wb') as file:
    pickle.dump(absenteeism_scaler,file)